.horario {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.horario th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #49AD4C;
  color: white;
}
